beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.8.13
click==6.7
ez-setup==0.9
Flask==1.0.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
numpy==1.14.1
pandas==0.22.0
pipenv==2018.7.1
psycopg2==2.7.5
psycopg2-binary==2.7.5
python-dateutil==2.6.1
pytz==2018.3
selenium==3.13.0
six==1.11.0
virtualenv==16.0.0
virtualenv-clone==0.3.0
Werkzeug==0.14.1
